$height-header--mobile: 1.4rem;
$padding-header--mobile: 1.3rem;

* {
    font-family: 'Lato', sans-serif;
}

body {
    background-color: #F2F2F2;
    height: 100vh;
    margin: 0;
}

.background-img {
    width: inherit;
    padding-top: #{$height-header--mobile};
    height: calc(100vh - #{$height-header--mobile});
    position: absolute;
    z-index: -1;
    top: 0;
    background-image: url('media/cover-page.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

@media screen and (min-width: 930px) {
    .background-img {
        padding-top: 0;
        height: 100vh;
    }
}

// Fonts
.small {
    font-size: 80%;
    font-weight: 400;
}